tobody {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  height: 100%;
  margin: 0;

  font-family: 'Lato', sans-serif;
  background: linear-gradient(#544a7d, #ffd452) fixed;
}


.container {
  width: 60%;
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.fm-card {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  position: relative;
  width: 640px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
  border-radius: 8px;
}

.header {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #e5e5ea;
}



/* IOS STYLE SWITCH CHECKBOX */

.label-ios{
  display: block;
  width: 49px;
  height: 32px;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 2px #E4E4E4;
  margin: 30px auto;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.input-ios{
  display: none;
}

.i-ios{
  height: 28px;
  width: 28px;
  background: #FFF;
  display: inline-block;
  border-radius: 60px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-shadow: 0 0 0 1px #E4E4E4, 0 3px 2px rgba(0,0,0,0.25);
  pointer-events:none;
}

input:checked+label>i{
  margin-left: 19px;
  box-shadow:0 3px 2px rgba(0,0,0,0.25);
}
label:active{
  box-shadow: inset 0 0 0 20px #E4E4E4;
}
label:active>i{
  width: 34px;
}
input:checked+label:active>i{
  margin-left: 13px;
}
input:checked+label{
  box-shadow: inset 0 0 0 20px #53D769;
  border: none;
}


/* END OF IOS STYLE SWITCH CHECKBOX */


.task-list {
  margin-top: 10px;
  margin-bottom: 75px;
}

 .task-ulist {

}

.wrapper-li {
  clear: both;

}

.task-item {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  list-style-type: none;
  float: left;
  display: inline-block;

}

.delete-btn {
  margin-right: 50px;
  margin-top: 20px;
  float: right;
  display: inline-block;
  color: #ff3b30;
  font-size: 18px;
  font-weight: 400;
}


.task-form {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  width: 640px;
}

.content-input {
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
  border-style: none;
  background: #2c2c2e;
  color: white;
  width: 400px;
}

.content-input::placeholder {
  text-align: center;
  color: #e5e5ea;
  opacity: 0.5;
}

.submit-input {
  margin-left: 50px;
  height: 35px;
  font-size: 18px;
  border-style: none;
  background: #2c2c2e;
  color: #e5e5ea;
  border-radius: 8px;
}

.fa-github {
  font-size: 48px;
  margin: 0 auto;
}

a {
  position:absolute;
  margin-left: 250px;
  margin-top: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.fa {
  color: black;
}
